// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.container1 {
  width: 300px;
  height: 400px;
  background-color: $color;
}

.block2 {
  font-family: "Roboto";
  font-weight: 100;
}
